<%= form_for(order, class: 'col s12') do |f| %>

  <div class="field">
    <%= f.label :snack_id %>
    <%= f.select :snack_id, options_for_select(Snack.order(:name).map {|s| [s.name, s.id, {'class' => 'left circle', 'data-icon' => s.image }]}), :prompt => "Snack auswählen", :class => 'icons'  %>


  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :quantity %>
      <%= f.number_field  :quantity, step: 1.0%>
    </div>
  </div>


    <div class="row">

      <div class="actions">
        <button class="btn waves-effect waves-light" type="submit" name="action">Speichern
          <i class="material-icons right">send</i>
        </button>

      </div>
    </div>
<% end %>