<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>

<h2>Open</h2>
<table>
  <thead>
    <tr>
      <th>Snack</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_orders.each do |order| %>
      <tr>
        <td><%= order.snack.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.order_price %></td>
        <td><%= order.client.email %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Purchased</h2>
<table>
  <thead>
  <tr>
    <th>Snack</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Client</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @purchased_orders.each do |order| %>
      <tr>
        <td><%= order.snack.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.order_price %></td>
        <td><%= order.client.email %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
