<p id="notice"><%= notice %></p>

<h1>Snacks</h1>

<div class="container">

  <table>
    <thead>
    <tr class="row">
      <th class="column">Image</th>
      <th class="column">Name</th>
      <th class="column">Description</th>
      <th class="column">Price</th>
    </tr>
    </thead>

    <tbody>
    <% @snacks.each do |snack| %>
        <tr class="row">
          <td class="column"><%= image_tag snack.image.url(:thumb) %></td>
          <td class="column"><%= snack.name %></td>
          <td class="column"><%= snack.description %></td>
          <td class="column"><%= snack.price %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>




<br>

<%= link_to 'New Snack', new_snack_path, class: 'button button-outline' %>
