<!DOCTYPE html>
<html>
  <head>
    <title>Snacky</title>
    <%= csrf_meta_tags %>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  </head>

  <body>




  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Snacky</a>
        <div  data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></div>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Bestellungen', orders_path%></li>
          <li><%= link_to 'Snacks', snacks_path%></li>
          <li><a class="btn waves-effect waves-light" href=<%= new_order_url%>><i class="material-icons left">playlist_add</i>Bestellen</a></li>
          <li><a class="btn waves-effect waves-light" href="shoppings/start"><i class="material-icons left">shopping_cart</i>Shoppen</a></li>


        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class="btn waves-effect waves-light" href=<%= new_order_url%>><i class="material-icons left">playlist_add</i>Bestellen</a></li>
          <li><a class="btn waves-effect waves-light" href="shoppings/start"><i class="material-icons left">shopping_cart</i>Shoppen</a></li>

          <li><%= link_to 'Bestellungen', orders_path%></li>
          <li><%= link_to 'Snacks', snacks_path%></li>
        </ul>
      </div>
    </nav>

  </header>

  <main>
    <% if notice %>
        <script type="text/javascript">
          Materialize.toast('<%= notice %>', 4000)
        </script>
    <% end %>
    <% if alert %>
        <script type="text/javascript">
          Materialize.toast('<%= alert %>', 4000)
        </script>
    <% end %>

    <%= yield %>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Snacky</h5>
          <p class="grey-text text-lighten-4">The best way to manage your snack orders.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 by Joel Ambass
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>


  </body>
</html>
